
*{
    cursor: url("/static/cursor.png"), auto;
}

*{
    box-sizing:border-box;
}



body{

    margin:0;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;


    background:#ffdff2;


    font-family:'Press Start 2P', cursive;

}



.app{


    width:500px;


    background:#fff7fc;


    border:6px solid #5c3b58;


    box-shadow:
    10px 10px 0px #5c3b58;


    padding:20px;


}



.header{


    display:flex;

    align-items:center;

    gap:20px;


    border-bottom:4px dashed #d99ac2;


    padding-bottom:15px;

}



.robot{


    font-size:50px;


    animation:bounce 1s infinite alternate;

}



@keyframes bounce{


from{

transform:translateY(0);

}


to{

transform:translateY(-8px);

}


}



h1{


    margin:0;


    font-size:24px;


    color:#8b4f7d;

}



.header p{


    font-size:10px;

    color:#a87c9c;

}



.messages{


    height:400px;


    overflow-y:auto;


    padding:15px;


    display:flex;


    flex-direction:column;


    gap:15px;

}



.message{


    padding:15px;


    border:4px solid #5c3b58;


    line-height:1.8;


    font-size:11px;


    max-width:85%;


    box-shadow:5px 5px 0 #5c3b58;


}



.bot{


    background:#e8dcff;


    align-self:flex-start;


}



.user{


    background:#ffd6e8;


    align-self:flex-end;


}



.typing{


    display:none;


    font-size:10px;


    color:#8b4f7d;


}



.typing span{


    animation:blink 1s infinite;

}



.typing span:nth-child(2){

animation-delay:.2s;

}



.typing span:nth-child(3){

animation-delay:.4s;

}



@keyframes blink{


50%{

opacity:0;

}

}



.input-area{


    display:flex;


    gap:10px;


}



input{


    flex:1;


    padding:15px;


    border:4px solid #5c3b58;


    font-family:'Press Start 2P', cursive;


    font-size:10px;


    outline:none;

}



button{


    width:60px;


    border:4px solid #5c3b58;


    background:#ff9fca;


    cursor:pointer;


    font-size:20px;


    box-shadow:5px 5px 0 #5c3b58;

}



button:active{


    transform:translate(5px,5px);


    box-shadow:none;

}

.mood-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.mood-btn {
    flex: 1;
    width: auto; /* Mevcut buton genişliğini ezmek için */
    padding: 8px 4px;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px; /* Yazılar kutuya sığsın diye küçük tuttuk */
    background: #e8dcff;
    border: 4px solid #5c3b58;
    box-shadow: 3px 3px 0px #5c3b58;
    cursor: pointer;
    text-align: center;
}

.mood-btn:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

